.header2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center
}
.header3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.png18 {
    width: 120px;
    height: 25px;
}
.png19 {
    width: 30px;
    height: 30px;
}
.glav1 {
    display: flex;
    justify-content: space-around;
    gap: 735px;
    margin-top: 100px;
}
.p1 {
    font-size: 50px;
    margin: 0;
    color: white;
}
.p2 {
    margin: 0;
    text-align: end;
    color: white;
}
.p3 {
    color: white ;
}
.glav2 {
    margin-left: 190px;
}
.glav3 {
    margin-left: 190px;
    margin-top: 400px;
}
.button1 {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.background {
    position:absolute;
    top: 58px;
    left: 0;
    z-index: -1;
}
.onas {
    margin-top: 150px;
}